* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  word-wrap: break-word;
}

body {
  background-color: black;
  background-image: url('../images/banner.jpg');
  background-position: center;
  background-size: 100% 20%;
  color: white;
}

#puppylove {
  background-image: url('../images/banner.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

nav {
  position: fixed;
  background-color: transparent;
}

.title{
  font-size: 2rem;
  letter-spacing: 5px;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  width: 250px;
  font-weight: bold;
}

button {
  box-sizing: border-box;
  border: none;
  border-radius: 5px;
  background-color: #ED4933;
  margin: 5px;
  padding: 10px 0;
  width: 130px;
}

div.row{
  margin-bottom: 0;
}

.btn-transparent {
  background-color: transparent;
  border: 3px solid white;
}
.box {
  text-align: left;
  height: 30vh;
  font-size: .8rem;
}

footer {
  background-color: rgba(0, 0, 0, 0.79);
}
.icons-red {
  height: 25px;
  width: 25px;
}
.flex {
  align-items: center;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  -webkit-align-items: center;
  -webkit-justify-content: center;
}
.icon-f {
  color: rgb(144, 144, 144);
  font-size: 1rem;
  margin-left: 10px;
}

/*background section*/
.bg-green {
  padding: 30px 0;
  background-color: #21B2A6;
}

.bg-purple {
  padding: 30px 0;
  background-color: #505393;
}

.bg-grey {
  background-color: #2B343D;
}


/*gradientes de lila*/
.color-l1 {
  background-color: #4E508E;
}
.color-l2 {
  background-color: #4B4D89;
}
.color-l3 {
  background-color: #484B84;
}
.color-l4 {
  background-color: #45487F;
}
.color-l5 {
  background-color: #42457A;
}
.color-l6 {
  background-color: #3F4275;
}
