* {
  padding: 0;
  margin: 0;
  word-wrap: break-word;
  box-sizing: border-box;
}
body {
  background-color: black;
  color: white;
  background-image: url('../images/banner.jpg');
  background-position: center;
  background-size: 100% 80vh;
  height: 100%;
}

button {
  box-sizing: border-box;
  border: none;
  width: 130px;
  padding: 20px 0;
  border-radius: 5px;
  background-color: #ED4933;
  margin: 5px;
}

nav {
  background-color: transparent;
}

#puppylove {
  background-image: url('../images/banner.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.icons-red {
  width: 25px;
  height: 25px;
}
